<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<img src="https://mujeresconciencia.com/app/uploads/2017/07/joanc1.jpg" alt="">

<h1>Joan Clarke</h1>

<body>
    <p>Joan Clarke, matemática y criptoanalista, tuvo un rol central en la hazaña que implicó descifrar el Código Enigma utilizado por los alemanes, durante la Segunda Guerra Mundial. La británica trabajó codo a codo junto a Alan Turing y su equipo para desentrañar el funcionamiento de ese sistema que se usaba para codificar mensajes.

        Fue la única mujer en integrar este grupo ultra secreto que tuvo un rol fundamental durante ese período bélico. Sin su trabajo y el del resto de los especialistas, la guerra podría haber tenido otro desenlace.
        
        Si bien se estima que unas 8.000 mujeres trabajaron en Bletchley Park, todas tenían funciones de asistentes, secretarias u operadoras. Además de tener salarios menores a sus pares hombres, no se les daba la posibilidad de desempeñarse como criptoanalistas. En este sentido, la tarea de Clarke fue una excepción a la regla.
        
        De todos modos, no tuvo el mismo trato que los hombres que integraban la división Hut 8. Llegó a ser jefa adjunta allí, pero no se le permitió progresar mucho más y su salario siempre fue inferior a la de sus pares hombres.
        
        Durante años, su participación quedó en el olvido. Fue en el último tiempo, sobre todo después de la película El código Enigma (The imitation game), estrenada en 2015, que su rol salió a la luz con más fuerza.</p>
</body>