<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<img src="https://mujeresconciencia.com/app/uploads/2014/12/grace_hopper.jpg" alt="">

<h1>Grace Hopper</h1>

<body>
    <p>Dentro de no mucho tiempo, “todo estará al alcance de un botón en el cuarto de estar”, como dijo el entonces vicepresidente de Associated Press, Stanley Swinton. Toda la innovación que abarrota la sociedad actual floreció, principalmente, en el periodo final de la II Guerra Mundial.

        Este es el caso de la historia de la computación. Hace casi 60 años que el Departamento de Defensa de Estados Unidos creó un lenguaje de programación para conseguir un código común en todas las computadoras. Se trataba del llamado ‘Lenguaje Común Orientado a Negocios’, más conocido como COBOL (por sus siglas en inglés).
        
        El COBOL nació fruto del consenso de grupos de trabajo del CODASYL (Conference on Data Systems Languages) y en apenas seis meses. Vivió su época dorada en los años 80 y 90, aunque todavía sigue en funcionamiento en algunas entidades bancarias. Actualmente, es uno de los lenguajes de programación conocidos más antiguos.
        
        Grace Murray Hopper fue una de las integrantes de esta comisión. Aunque esta Oficial de la Armada de Estados Unidos sentó las bases del COBOL mucho antes incluso de su aprobación en 1959.
        
        Grace Hopper nació el 9 de diciembre de 1906 en Nueva York en el seno de una familia descendiente de militares. Desde muy pequeña se interesó por la mecánica, y a la edad de 7 años abrió todos los relojes de su casa para conocer su funcionamiento.
        
        En su familia era fundamental la educación, es por ello por lo que pudo acudir a la universidad. Se doctoró en matemáticas por Yale en 1934, siendo la primera mujer en conseguirlo. A pesar de ejercer como profesora, con el estallido de la II Guerra Mundial decide alistarse en la Armada de los Estados Unidos, logrando graduarse la primera de su promoción en 1944.
        Ya como teniente, trabajó de la mano del comandante Howard Aiken en la construcción del computador Mark I. En este periodo también se le atribuye el conocido término “bug”, haciendo referencia a un error de programación. Si bien, no fue ella la que encontró una polilla en los circuitos del Mark II, fue la que acuñó esta denominación.

        Se retiró de la Armada y pasó al sector privado de la mano de Eckert-Mauchly Corporation. En esta empresa realizaría algunos de sus trabajos más destacados. Creó el primer compilador de la historia, el A-0 (1952); y el primer compilador para procesamientos de datos, el B-0 Flow-Matic (1957). Fue este último el germen del anterior mencionado, lenguaje COBOL.
        
        Tras este periodo, volvió de nuevo a la Armada, de la que se retiró, finalmente, en 1986, siendo la oficial de mayor edad de la Armada de Estados Unidos. Recibió otros galardones a su trayectoria profesional como más de 40 doctorados honoris causa, el premio Hombre del año en ciencias de la computación (1969), o la Medalla nacional de tecnología (1991). Además, desde 1971 la Association for Computing Machinery entrega un premio con su nombre; y la Armada cuenta con un buque llamado USS Hopper.
        
        Grace Hopper, también conocida como Amazing Grace, marcó un antes y un después en la historia de la computación. Sus trabajos e invenciones sentaron las bases de los ordenadores actuales.</p>
</body>