<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mi pagina</title>

</head>
<body>
    <h1 id="inicio">Mi sitio web</h1>
    <h2>heroes mundiales</h2>
    <ul type="none">
        <li><a href="/">index</a></li>
        <li><a href="/babbage">babbage</a></li>
        <li><a href="/clarke">clarke</a></li>
        <li><a href="/hamilton">hamilton</a></li>
        <li><a href="/hopper">hopper</a></li>
        <li><a href="/lovelace">lovelace</a></li>
        <li><a href="/timbernerslee">timbernerslee</a></li>
        <li><a href="/turing">turing</a></li>
    </ul>

    <img src="https://png.pngtree.com/thumb_back/fh260/back_our/20190628/ourmid/pngtree-hd-blue-technology-pattern-background-jpg-image_264428.jpg" alt="">




    <p>Genios que han marcado nuestra historia, cada uno especialista en sus respectivas áreas. Mentes prodigiosas que contribuyeron a hacer la vida más cómoda y fácil.

        La civilización actual, la manera de vivir, de comportarnos, nuestra forma de actuar está influenciada por las genialidades y los descubrimientos de estas personas.</p>
    

    

</body>
</html>